<html>

<head>

  <title>Notebook</title>
  <link rel="stylesheet" href="main.css" />
  
  <!-- Include the library in the page -->
  <script src="vue.min.js"></script>
  <script src="marked.min.js"></script>
  
</head>

<body>

  <!-- Notebook app -->
  <div id="notebook">

    <!-- Sidebar -->
    <aside class="side-bar">
	
      <div class="toolbar">
	  
        <button
		@click="addNote"
		:title="notes.length + ' note(s) already'"
		>
		
			<i>
			
				+
				
			</i>
			
			Add Note
		
		</button>
		
      </div>
	  
      <div class="notes">
	  
        <div class="note"
		v-for="note of sortedNotes"
		:class="{selected: note === selectedNote}"
		@click="selectNote(note)"
		>
		
			<i class="icon"
			v-if="note.favorite"
			>
			
				starred
				
			</i>
			
			{{note.title}}
			
		</div>
	  
	  </div>
	  
    </aside>

    <template v-if="selectedNote">

      <!-- Main pane -->
      <section class="main">
	  
        <div class="toolbar">
		
          <input placeholder="Note title"
		  v-model="selectedNote.title"
		  />

          <button title="Favorite note"
		  @click="favoriteNote"
		  >
		  
			<i>
			
				{{ selectedNote.favorite ? 'Unstar' : 'Star' }}
			
			</i>
		  
		  </button>

          <button title="Remove note"
		  @click="removeNote"
		  >
		  
			<i>
			
				DELETE
				
			</i>
		  
		  </button>
		  
        </div>
		
        <textarea
		v-model="selectedNote.content"
		>
		</textarea>
		
        <div class="toolbar status-bar">
		
          <span class="date">
		  
            <span class="label">
			
				Created:
				
			</span>
            <span class="value">
			
				{{ new Date(selectedNote.date).toLocaleString() }}
				
			</span>
			
          </span>
		  
        </div>
		
      </section>

      <!-- Preview pane -->
      <aside class="preview"
	  v-html="notePreview"
	  >
      </aside>

    </template>

  </div>

  <script src="index.js"></script>
</body>
</html>
